.logo {
  display: flex;
  align-items: center;
  line-height: 0;
}

.sign {
  width: 28%;
  margin-right: 6%;
}

.typo {
  width: 64%;
}

.logo[align-items='column'] {
  flex-direction: column;
  justify-content: flex-start;
}

.logo[align-items='column'] .sign {
  width: 40%;
  margin-right: 0;
  margin-bottom: 6%;
}

.logo[align-items='column'] .typo {
  width: 100%;
  position: static;
}
