:host {
  display: block;
}

:host > * {
  box-sizing: border-box;
}

.logo {
  --gap: 5%;
  display: flex;
  align-items: center;
}

/* Row alignment */
.logo[data-align='row'] {
  column-gap: var(--gap);
  aspect-ratio: 2 / 1;
}

.logo[data-align='row'] > giotramu-sign {
  width: 30%;
}

.logo[data-align='row'] > giotramu-typo {
  width: calc(70% - var(--gap));
}

/* Column alignment */
.logo[data-align='column'] {
  flex-direction: column;
  row-gap: var(--gap);
  aspect-ratio: 1 / 1;
}

.logo[data-align='column'] > giotramu-sign {
  width: 50%;
}

.logo[data-align='column'] > giotramu-typo {
  width: 100%;
}
